{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Jspiders</title>
    {% endblock %}
</head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
<body>
    <ul class="nav-justify-content-center gray lighten-4 py-4">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'registration' %}">Registration</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
     </ul>
     {% block body_block %}
     {% endblock %}
 
    <script src="{% static 'js/jquary.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
</body>
</html>